<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title of Post</label>
      <input type="text" id="post-title" class="post-title">
    </div>
    <label for="post-url">Link of Product</label>
    <input type="text" id="post-url" class="post-url">
  </form>
  <button class="btn" type="submit">Create Post</button>
</section>

{{#if post.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>